.no_match{
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: red;
}

@media screen and (max-width:768px) {
    .no_match{
        .container{
            padding: 0 2rem;
            justify-content: center;
            text-align: center;
        }
    }
}